
# Cache files/folders
.pytest_cache
/.idea
/*.pyc
*.pyc
/.vscode
__pycache__

# Server temp files
.DS_Store
# uwsgi.ini
uwsgi.pid

# Large data files
data/*.csv
test/test_scan/out
script/task_launch/out

# txt and figs
script/*/*.txt
script/*/*.png
script/*/*.csv
script/*/*/*.txt
script/*/*/*.png
script/*/*/*.csv

script/fig_generation/cert_replica/*.txt
script/fig_generation/cert_replica/*.png
script/fig_generation/attack_result/*.txt
script/fig_generation/attack_result/*.png

# python venv
# .env
myenv/
pki_internet_platform.egg-info/

celery_worker.service
celerybeat-schedule.*

log/
